@font-face {
  font-family: 'Changa One';
  src: url('./font/Changa One.ttf');
}

@font-face {
  font-family: 'Imprima';
  src: url('./font/Imprima-Regular.ttf');
}

@font-face {
  font-family: 'AppleColorEmoji';
  src: url('./font/AppleColorEmoji.ttf');
}

body {
  background-color: transparent !important;
}

ol,
ul,
dl {
  margin: 0;
}

ul {
  padding: 0px;
  li {
    list-style: none;
  }
}

.no-select {
  user-select: none;
}

.h-font {
  .emoji {
    text-shadow: none !important;
  }

  text-shadow: -2px -2px #000000, -2px -1px #000000, -2px 0px #000000, -2px 1px #000000, -2px 2px #000000,
    -1px -2px #000000, -1px -1px #000000, -1px 0px #000000, -1px 1px #000000, -1px 2px #000000, 0px -2px #000000,
    0px -1px #000000, 0px 0px #000000, 0px 1px #000000, 0px 2px #000000, 1px -2px #000000, 1px -1px #000000,
    1px 0px #000000, 1px 1px #000000, 1px 2px #000000, 2px -2px #000000, 2px -1px #000000, 2px 0px #000000,
    2px 1px #000000, 2px 2px #000000;
}

.nickname {
  .h-font {
    font-family: 'Changa One', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
      '\5FAE \8F6F \96C5 \9ED1 ', SimHei, Arial, sans-serif;
  }
}

.message {
  .h-font {
    font-family: 'Imprima', 'AppleColorEmoji', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
      'Microsoft YaHei', '\5FAE \8F6F \96C5 \9ED1 ', SimHei, Arial, sans-serif;
  }
}

.money {
  .h-font {
    font-family: 'Imprima', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
      '\5FAE \8F6F \96C5 \9ED1 ', SimHei, Arial, sans-serif;
  }
}

.error-bg {
  background: #ffdede;
  background-image: repeating-linear-gradient(
    50deg,
    hsl(0deg 100% 90%),
    hsl(0deg 100% 90%) 15px,
    #ffffff00 0,
    transparent 30px
  );
}

.preview-wrapper {
  position: relative;
  margin-bottom: 24px;
  height: 500px;
  width: 100%;
  border-radius: 2px;
  background-color: #444;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, #333), color-stop(0.25, transparent)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #333), color-stop(0.25, transparent)),
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.75, transparent), color-stop(0.75, #333)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.75, transparent), color-stop(0.75, #333));
  background-position: 0 0, 16px 0, 16px -16px, 0 16px;
  background-size: 32px 32px;
}

.mb-0 {
  margin-bottom: 0;
}
